VITE_APP_ENV=debug
VITE_DIRECTUS_API_URL=https://test.ejet-elkahraba.com
VITE_WHISH_BASE_URL=https://test.ejet-elkahraba.com
VITE_PAYMENT_API_TOKEN=replace-with-payment-token
VITE_ENABLE_DEBUG_SMS_WEBHOOK=true
VITE_ENABLE_CARRIER_DETECTION=true
VITE_SHOW_PAYMENT_SUMMARY=false
VITE_FIREBASE_API_KEY=replace-with-firebase-api-key
VITE_FIREBASE_APP_ID=replace-with-firebase-web-app-id
VITE_FIREBASE_MESSAGING_SENDER_ID=456106164635
VITE_FIREBASE_PROJECT_ID=ejet-elkahraba-production
